extends layout
//import "bootstrap/wtf.html" as wtf

block content
    div#VRController(style="position: absolute; height: 100%; width: 100%;")
        a-scene
            a-cube
            a-sky(color="skyblue")

block footer_script
