div.mastfoot
    div.inner
        br
        p
            a(href="http://someonesgarden.org", target="_blank")  Someonesgarden
            |  /
            a(href="http://easy-copy-mathjax.xxxx7.com/", target="_blank")  Mathjax
            |  /
            a(href="http://webtools.dounokouno.com/htmlescape/", target="_blank")  htmlescape