extends layout_ja
//import "bootstrap/wtf.html" as wtf

block content

    div.col.col-sm-6
        h3: a(href="/factory") App#1 : Sentiment Analysis
        div.form-group: div
            textarea.form-control(rows="4", ng-model="sentiment.rawtext")
        button.btn.btn-primary.btn-block(type="submit", ng-click="sentiment.analyseAction('analyse')") Analyse

        div(ng-bind="result1")

        div(ng-hide="sentiment.label==''")
            br
            h3 Prediction | <span style="color:#23dea1;" ng-bind="sentiment.proba"></span> <span style="color:{{sentiment.fontcolor}}" ng-bind="sentiment.label"></span>
            br
            div.btn-group.btn-group-justified
                label.btn.btn-success(ng-model="sentiment.feedback", uib-btn-radio="1") Correct
                label.btn.btn-success(ng-model="sentiment.feedback", uib-btn-radio="0", ng-change="sentiment.analyseAction('feedback')") Incorrect


block footer_script
    script(src="/static/js/ng1/app.js")
    script(src="/static/js/ng1/services.js")
    script(src="/static/js/ng1/directives.js")
    script(src="/static/js/ng1/controllers.js")
    script.
        $(document).ready(function() {
            $('li#home').addClass('active');
        });