nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href="#"): strong DeepLearningGarden
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbarCollapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar


            div.collapse.navbar-collapse#navbarCollapse
                ul#top-nav-menu.nav.navbar-nav.right
                    li#home: a(href="/") Home
                    li#main: a(href="/main") Main
                    li#aframe: a(href="/aframe") Aframe
                    li#math: a(href="/math") Math
                    li#d3: a(href="/d3") D3
                    li#actory: a(href="/factory") Factory
                    li#pipelines: a(href="/pipelines") Pipelines
                    li#ensembles: a(href="/ensembles") Ensembles

