<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"><a href="/">{% if essentials %}{{essentials.site_title}}{% endif %}</a></h3>
        <nav>
            <ul id="top-nav-menu" class="nav masthead-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="math"><a href="/math">MATH</a></li>
                <li id="d3"><a href="/d3">D3</a></li>
                <li id="factory"><a href="/factory">Factory</a></li>
                <li id="pipelines"><a href="/pipelines">Pipelines</a></li>
                <li id="ensembles"><a href="/ensembles">Ensembles</a></li>
            </ul>
        </nav>
    </div>
</div>
